body {
    font-size: 28px;
}

/* Beginning CSS of the "mainContainer" */
#mainContainer {
    margin: 18.715vh 0;
}

/* End CSS of the block "mainContainer" */

/* Beginning CSS of the block "mainContent" */
#mainContent button {
    font-size: 28px;
    width: 230px;
}

/* End CSS of the block "mainContent" */

/* Beginning CSS of the block "mainFooter" */
#mainFooterFirstInformationLinkContent p, #mainFooterSecondInformationLinkContent p {
    font-size: 20px;
}

/* End CSS of the block "mainFooter" */