body {
    font-size: 34px;
}

/* Beginning of the block "mainMenuContent" */
#mainMenu li a {
    font-size: 48px;
}

/* End CSS of the block "mainMenuContent" */

/* Beginning CSS of the block "mainContent" */
#mainContent h1 {
    font-size: 48px;
}

#mainContent h2 {
    font-size: 38px;
}

/* End CSS of the block "mainContent" */

/* Beginning CSS of the block "mainFooter" */
#mainFooterFirstInformationLinkContent p, #mainFooterSecondInformationLinkContent p {
    font-size: 24px;
}

/* End CSS of the block "mainFooter" */