body {
    font-size: 28px;
}

/* Beginning CSS of the block "mainMenuContent" */
#mainMenu li a {
    font-size: 42px;
}

/* End CSS of the block "mainMenuContent" */

/* Beginning CSS of the block "mainContent" */
#mainContent h1 {
    font-size: 42px;
}

.answersList li {
    padding-left: 3.44827%;
}

#mainContent button {
    font-size: 28px;
    width: 290px;
}

.noResponsesToDisplay {
    padding: 20.72755vh 0;
}

/* End CSS of the block "mainContent" */

/* Beginning CSS of the block "mainFooter" */
#mainFooterFirstInformationLinkContent p, #mainFooterSecondInformationLinkContent p {
    font-size: 20px;
}

/* End CSS of the block "mainFooter" */