body {
    font-size: 34px;
}

/* Beginning of the block "mainMenuContent" */
#mainMenu li a {
    font-size: 48px;
}

/* End CSS of the block "mainMenuContent" */

/* Beginning CSS of the block "mainContent" */
#mainContent h1 {
    font-size: 48px;
}

.userIndication {
    font-size: 24px;
}

.insideRadioTable + label {
    width: 13px;
    height: 13px;
    margin-top: -7.5px;
    margin-left: -7.5px;
    border: 1px solid;
    border-radius: 7.5px;
}

.insideRadioTable:checked + label {
    background-image: url("../pictures/radio-checked-computer-img.png");
}

[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    top: 8.5px;
    left: 0;
    border: 1px solid;
}

[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    top: 9.5px;
    left: 1px;
    background-image: url("../pictures/checkbox-checked-computer-img.png");
}

[type="checkbox"] + label {
    width: 96.79488%;
    padding-left: 3.20512%;
}

[type="text"], [type="email"], [type="tel"] {
    font-size: 34px;
}

::-webkit-input-placeholder {
    font-size: 24px;
    line-height: 34px;
}

::-moz-placeholder {
    font-size: 24px;
    line-height: 34px;
}

:-ms-input-placeholder {
    font-size: 24px;
    line-height: 34px;
}

.choiceComment {
    width: 96.79488%;
    margin: 0 0 10px 3.20512%
}

#mainForm table {
    width: 400px;
}

input[type="submit"] {
    font-size: 34px;
}

/* End CSS of the block "mainContent" */

/* Beginning CSS of the block "mainFooter" */
#mainFooterFirstInformationLinkContent p, #mainFooterSecondInformationLinkContent p {
    font-size: 24px;
}

/* End CSS of the block "mainFooter" */