body {
    font-size: 28px;
}

/* Beginning CSS of the block "mainMenuContent" */
#mainMenu li a {
    font-size: 42px;
}

/* End CSS of the block "mainMenuContent" */

/* Beginning CSS of the block "mainContent" */
#mainContent h1 {
    font-size: 42px;
}

.outsideRadioTable + label, [type="checkbox"] + label {
    width: 96.55173%;
    padding-left: 3.44827%;
}

[type="text"] {
    font-size: 28px;
}

::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 28px;
}

::-moz-placeholder {
    font-size: 20px;
    line-height: 28px;
}

:-ms-input-placeholder {
    font-size: 20px;
    line-height: 28px;
}

.choiceComment {
    width: 96.55173%;
    margin: 0 0 10px 3.44827%
}

#mainForm table:nth-of-type(1) {
    width: 300px;
}

#mainForm table:nth-of-type(3) {
    width: 200px;
}

#mainForm textarea {
    font-size: 28px
}

input[type="submit"] {
    font-size: 28px;
}

/* End CSS of the block "mainContent" */

/* Beginning CSS of the block "mainFooter" */
#mainFooterFirstInformationLinkContent p, #mainFooterSecondInformationLinkContent p {
    font-size: 20px;
}

/* End CSS of the block "mainFooter" */